

{% load static %}

<div class="card">
    <div class="card-body login-card-body">

        <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block">Update password</button>
                </div>
            </div>
        </form>

        <p class="mt-3 mb-1">
            <a href="{% url 'login' %}">Login</a>
        </p>
        <p class="mb-0">
            <a href="{% url 'signup' %}" class="text-center">Register a new account</a>
        </p>

    </div>
    <!-- /.login-card-body -->
</div>
        
