


{% load static %}

        
<div class="card">
    <div class="card-body register-card-body">
        <p class="login-box-msg">Register a new account</p>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if form.errors %}
            <div class="mt-3">
                <div class="alert alert-danger">Please correct the errors below.</div>
            </div>
        {% endif %}
        
        <form action="" method="post">

            {% csrf_token %}

            <div class="input-group mb-0">
                {% comment %} <input type="text" class="form-control" placeholder="username" name="username"> {% endcomment %}
                {{ form.username }}
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
            </div>
            {% if form.username.help_text %}
                <small>{{ form.username.help_text }}</small><br>
            {% endif %}
            {% if form.username.errors %}
                <small class="text-danger">{{ form.username.errors.as_text }}</small><br>
            {% endif %}

            <div class="input-group mt-3">
                {% comment %} <input type="email" class="form-control" placeholder="Email" name="email"> {% endcomment %}
                {{ form.email }}
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <small>{{ form.email.help_text }}</small>
            {% if form.email.errors %}
                <small class="text-danger">{{ form.email.errors.as_text }}</small><br>
            {% endif %}

            <div class="input-group mt-3">
                {% comment %} <input type="password" class="form-control" placeholder="Password" name="password1"> {% endcomment %}
                {{ form.password1 }}
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            {% if form.password1.help_text %}
                <small>{{ form.password1.help_text }}</small><br>
            {% endif %}
            {% if form.password1.errors %}
                <small class="text-danger">{{ form.password1.errors.as_text }}</small><br>
            {% endif %}
            
            <div class="input-group mt-3">
                {% comment %} <input type="password" class="form-control" placeholder="Retype password" name="password2"> {% endcomment %}
                {{ form.password2 }}
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            {% if form.password2.help_text %}
                <small>{{ form.password2.help_text }}</small><br>
            {% endif %}
            {% if form.password2.errors %}
                <small class="text-danger">{{ form.password2.errors.as_text }}</small><br>
            {% endif %}

            <div class="row">
                <div class="col-8">
                    <div class="icheck-primary">
                        <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                        <label for="agreeTerms">I agree to the <a href="#">terms</a></label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a href="{% url 'login' %}" class="text-center">I already have an account?</a>
    </div>
    <!-- /.form-box -->
</div><!-- /.card -->
